NODE_ENV=development
PORT=3001

# MongoDB local (laisse tel quel si tu utilises MongoDB en local)
MONGO_URI=mongodb://localhost:27017/bledigo

# Change cette valeur par n'importe quelle chaîne secrète longue
JWT_SECRET=bledigo_super_secret_key_change_me_2026

JWT_EXPIRES_IN=7d

# URL du microservice Python IA (laisse tel quel)
AI_SERVICE_URL=http://localhost:5000/predict
AI_TIMEOUT_MS=4000

# Autorise le frontend React à appeler l'API
CORS_ORIGINS=http://localhost:5173